.app{
  overflow: hidden;
}

.container{
  display: flex;
  width: 100vw;
  height: 85vh;
  background-color: rgb(0, 0, 10);
  
}

.semi-container{
  display: flex;
  width: 100vw;
  justify-content: space-around;
  margin-bottom: 75px;
}


.img-div{
  margin: auto;
  color: white;
  width: 50vw;
  position: relative;
  justify-items: center;
}

.img-divs{
  background-color: blue;
  background-image: url('../src/assets/noise.png');
}

.logo{
  max-width: 450px;
}

.tilt{
  max-width: 450px;
}

.moldura{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 600px;
}

img {
  width: 100%;
}


.title-text{
  margin-left: 20px;
  margin-top: 10px;
}

.appearance{
  animation: fadeInScale 2s ease-in-out forwards;
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.fadeout{
  animation: fadeOut 0.5s ease-in-out forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.scrolldown{
  width: 70px;
}

.holder{
  background-color: blue;
  background-image: url('../src/assets/noise.png');

}

.title{
  font-family: "Gruppo", sans-serif;
  font-size: 6rem;
}

.ar{
  font-style: italic;
  color: #003868;
  font-family: "Roboto", serif;
  font-weight: 500;
  transition: all 0.5s;
}

.ar:hover {
  color: #005bb5;
}

.sticker{
  max-width: 200px;
  z-index: 200;
}


.text-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70vw;
  margin: auto;
}

.description{
  font-size: 2rem;
  text-align: left;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
}

.cyber-text{
  font-family: "Doto", sans-serif;
}

.img-divs{
  display: flex;
  justify-content: space-around;
}

.pich{
  border-radius: 65px;
  box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
}

@media (max-width: 1080px) {
  .sticker{
    max-width: 110px;
  }
  
}

@media (max-width: 500px) {
  .sticker{
    max-width: 70px;
  }
  
}

.pich-div{
 position: relative;
}

.nausea{
  max-width: 100px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.pich-div:hover .nausea{
  opacity: 1;
  animation: float 3s ease-in-out infinite;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.poblem-div{
  min-height: 64vh;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

