.app{
  overflow: hidden;
}

.container{
  display: flex;
  width: 100vw;
  height: 85vh;
  background-color: rgb(0, 0, 10);
}

.semi-container{
  display: flex;
  width: 100vw;
  justify-content: space-around;
  margin-bottom: 75px;
}

.img-div{
  margin: auto;
  color: white;
  width: 50vw;
  position: relative;
  justify-items: center;
}

.logo{
  max-width: 450px;
}

.tilt{
  max-width: 450px;
}

.moldura{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 600px;
}

img {
  width: 100%;
}


.title-text{
  margin-left: 20px;
  margin-top: 10px;
}

.appearance{
  animation: fadeInScale 2s ease-in-out forwards;
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.fadeout{
  animation: fadeOut 0.5s ease-in-out forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.scrolldown{
  width: 70px;
}

.flying-imgs{}

.title{
  font-family: "Gruppo", sans-serif;
  font-size: 6rem;
}

.ar{
  font-style: italic;
  color: #003868;
  font-family: "Roboto", serif;
  font-weight: 500;
  transition: all 0.5s;
}

.ar:hover {
  color: #005bb5;
}

.sticker{
  max-width: 200px;
  z-index: 200;
}


.text-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70vw;
  margin: auto;
}

.description{
  font-size: 2rem;
  text-align: left;
}

.img-divs{
  display: flex;
  justify-content: space-around;
}

@media (max-width: 700px) {
  .sticker{
    max-width: 100px;
  }
  
}

@media (max-width: 500px) {
  .sticker{
    max-width: 70px;
  }
  
}

